body { width: 100%; } 

.wrap { width: 100%; } 


/* === header === */
header { width: 100%; position: fixed; z-index: 11; } 

/* 공통 */
.container { max-width: 1300px; margin: auto; } 

.w100 { width: 100%; background: var(--text1); } 



/* 댑스 기본 레이아웃 */
nav { position: relative; width: 100%; height: 120px; background-color: var(--secondary1); } 

nav .gnb { display: flex; } 

nav .gnb a { display: block; } 

ul.gnb li { height: 100%; } 

nav .w100 { overflow: hidden; height: 0; } 

.gnb .dep1:hover .w100 { height: 35rem; } 

/* 투댑스 내려오게 하기 */
nav { position: relative; } 

nav .w100 { position: absolute; top: 120px; left: 0; } 


/* 댑스 레이아웃 세부 */
.gnb h1 a { margin-left: 10rem; margin-top: 2rem; } 

.main_menu { max-width: 1300px; } 

.main_menu .util_nav { display: flex; justify-content: end;  margin-right:21rem; } 

.main_menu .util_nav li a { font-size: 1.4rem; padding-left: 1.5rem; margin-right: 2rem; } 

.main_menu .util_nav li:not(:nth-child(4),:last-child) { display: inline-block; height: 13px; border-right: 1px solid #e0e0e0; } 

.main_menu .util_nav li img { width: 32px; height: auto; margin-top: -1rem; margin-left: -3rem; background-color: #fff; } 

.main_menu .sub_gnb_nav { width: 1300px; } 

.main_menu .sub_gnb_nav .dep1 { display: flex; } 

.sub_gnb_nav .dep1>a { font-family: 'NanumBarunGothic'; display: block; padding: 11px 14px 0px 14px; } 

.sub_gnb_nav .dep2 { display: flex; justify-content: start; } 

.main_menu .sub_gnb_nav .dep2 a { font-family: 'NanumBarunGothic'; margin-right: 10rem; } 

.dep2>li>a { color: var(--secondary1); margin-bottom: 2rem; } 

.dep3 a { color: var(--text3); font-family: 'NanumBarunGothicExtraLight'; font-size: 1.5rem; margin-bottom: 0.9rem; } 

.dep1>a:hover { display: block; width: 100%; text-align: center; height: 56px; background-color: var(--text1); color: var(--pointcolor3); border-bottom: none; } 


/* === Sticky === */
.sticky { width: 166px; position: sticky; top: 150px; left: 160rem; z-index: 12; } 


/* === popup === */
.popup { position: fixed; z-index: 999; width: 50rem; height: 20rem; background: rgba(255, 255, 255, .8); top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); border-radius: 10px; backdrop-filter: blur(20px); box-shadow: 0px 0px 5px var(--text1)} 

.popup .textbox { width: 100%; height: 20rem; display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; line-height: 1.75; } 

.popup a { display: block; } 

.popup .close { position: absolute; top: 2rem; right: 2rem; } 


/* === main === */
/* banner */
.main_banner { width: 100%; height: 32vw; } 

.main_banner { background: url(../img/promotion_top_pc_bg_1.jpg) no-repeat center center/cover; } 

.main_banner .container { display: flex; } 

.main_banner ul:nth-child(2) { display: flex; } 

.main_banner ul { margin: auto; } 

/* # banner css.ing # */
/* ##### header main_banner fade_in animate ###### */
.main_banner ul.banner_text li:first-child img,
.main_banner ul.banner_text li:last-child,
.main_banner ul.banner_img li.banner_img_2,
.main_banner ul.banner_img li.banner_img_1,
.main_banner ul.banner_img li.banner_img_3{
opacity: 0;
}

.main_banner ul.banner_text li:first-child img{transition: all 0.2s; transition-delay:0s}

.main_banner ul.banner_img li.banner_img_1{transition: all 0.2s; transition-delay:0.3s}
.main_banner ul.banner_img li.banner_img_2{transition: all 0.2s; transition-delay:0.7s}
.main_banner ul.banner_img li.banner_img_3{transition: all 0.2s; transition-delay:1.1s}
.main_banner ul.banner_text li:last-child{transition: all 0.2s; transition-delay:1.5s}
/* ##//animate */


/* text */
.main_banner .container {max-width: 100%; position: relative; box-sizing: border-box; height: 100%; margin: 0 auto;}

.main_banner .container .banner_text li img {position: absolute; top: 12vw; left: 12vw;  width: 22%; } 

.banner_text li a { position: absolute; top: 20vw; left: 19vw; width: 125px; text-align: center; padding: 1rem 2rem; border: 2.5px solid var(--primary); border-radius: 0.5rem;  font-family: 'NanumBarunGothic'; color: var(--primary); font-size: 1.4rem;  } 

/* hover */
.banner_text li:nth-child(2) a:hover{background-color: var(--primary); color: var(--secondary1);}


/* img */
.main_banner .container{position: relative;}

.banner_img li img {position: absolute; height: 80%; top: 0; right: 0;} 

.banner_img li img{top: 9%; right: 14%;}

.banner_img_2 img { left: 40%; vertical-align: top; } 

.banner_img_1 img { left: 55%; vertical-align: top; } 

.banner_img_3 img { left: 70%; vertical-align: top; }

/* 모바일용 배너 이미지 */
.banner_text_img, .banner_img_4, .banner_img_5, .banner_img_6 {display: none;}


/* ======== nav_1 ========== */
.nav_1 { width: 100%; height: 5rem; margin: auto; } 

.nav_1 .flex { display: flex; } 

/* notion */
.nav_1 div.notice { width: 55%; height: 10.5vw; background-color: black; display: flex; overflow: hidden; position: relative;} 

.notice p {position: absolute; color: #fff; font-family: 'NanumBarunGothic'; line-height: 5rem; font-size: 1.8rem; width: 10rem; left: 40%; } 

.notice li a { color: #fff; line-height: 5rem; font-size: 1.4rem; } 

.notice .btn_plus img {position: absolute; margin-top: 0.6rem; right: 2rem; }

/* ## notion animation ## */
.history li{position: absolute; left: 26.9vw; width: 40rem; overflow: hidden;}




/* promotion */
.promotion{position: relative;}
.nav_1 div.promotion ul {position: absolute; width: 45%; background-color: var(--background); display: flex; } 

.promotion_list:first-child>li>a { display: block; font-family: 'NanumBarunGothic'; width: 25rem; line-height: 5rem; font-size: 1.8rem; text-decoration: none; text-align: center; position: absolute; left: 20rem; } 


/* ## promotion botton hidden ## */
.promotion_list li.p_close{ position: absolute; top:0.6rem; left: 15rem; display: block;} /* close시 */ 
.promotion_list li.p_open{ position: absolute;  top:0.6rem; left: 15rem; display: none;} /* open시 */



/* === hidden === */
/* h_img */
.nav_1_pr .hidden { width: 100%; height: 66rem; background-color: var(--background); display: none; position: relative;} 

.hidden .flex { display: flex; padding-top: 5rem; gap: 2rem; }

.hidden .flex li{position: absolute; right: 15%;}

/* ### button ### */
.left_right img:hover {background-color: var(--background); border-radius: 50%; transition: background-color .7s;}


/* 자세히 보기 버튼 */
ul.flex li.inner { position: relative; } 

ul.flex li.inner a { position: absolute; bottom: 1.5rem; left: 50%; transform: translateX(-62px); width: 125px; text-align: center; padding: 1rem 2rem; border: 2.5px solid var(--primary); border-radius: 0.5rem; font-family: 'NanumBarunGothic'; color: var(--primary); font-size: 1.4rem; } 

/* 좌우 버튼 */
ul.left_right { width: 100%; height: 66rem; position: relative; } 

ul.left_right li:first-child { position: absolute; top: -50%; left: 25%; display: block; } 

ul.left_right li:last-child { position: absolute; top: -50%; right: 22.5%; display: block; } 

/* 재생 정지 */
ul.hidden_btn { position: absolute; display: flex; gap: 0.5rem; top: 63rem; left: 50%; cursor: pointer;} 

/* ## btn_se ## */
/* 1 */
.slide_se1 li.start{display: block;}
.slide_se1 li.end{display: none;}
/* 2 */
.slide_se2 li.start{display: block;}
.slide_se2 li.end{display: none;}
/* 3 */
.slide_se3 li.start{display: block;}
.slide_se3 li.end{display: none;}




/* ====== nav_2 ====== */
.nav_2 { width: 100%; height: 24rem; background-color: var(--secondary2); position: relative; } 

.nav_2>div.container { width: 1300px; position: absolute; right: 0; left: 0; } 

.nav_2 .container { display: flex; } 

.nav_2 .container img { width: 17rem; height: auto; margin-top: 3rem; margin-left: 12rem; } 

/* text */
.flex_row { display: flex; } 

.container_cloumn { display: flex; margin-top: 4rem; margin-left: 3rem; } 

.container_cloumn h2 { color: #fff; font-size: 3.1rem; letter-spacing: -0.5px; margin-right: 6rem; } 

.container_cloumn h2 strong { font-family: 'NanumBarunGothicBold'; } 

.text_btn { display: flex; gap: 1rem; margin-top: 1rem; } 

.text_btn .text_botten1 a { width: 125px; text-align: center; padding: 0.7rem 2rem; border: 2.5px solid var(--primary); border-radius: 0.5rem; font-size: 1.4rem; background-color: var(--primary); } 

.text_btn .text_botten2 a { width: 125px; text-align: center; padding: 0.7rem 2rem; border: 2.5px solid var(--background); border-radius: 0.5rem; font-size: 1.4rem; } 

.container_cloumn { padding-bottom: 3rem; border-bottom: 1px solid #4b615b; } 
.container_cloumn ul.text_btn .text_botten1 a { color: #fff; } 
.container_cloumn ul.text_btn .text_botten2 a { color: #fff; } 


.container_card { display: flex; margin-top: 3rem; } 

.container_card .g_card li { color: #fff; margin-left: 4rem; line-height: 1.33; margin-right: 6rem; } 
.container_card .g_btn li a { color: #fff; width: 125px; text-align: center; padding: 0.7rem 2rem; border: 2.5px solid var(--background); border-radius: 0.5rem; font-size: 1.4rem; } 
.container_card .g_btn { margin-top: 1.5rem; } 


/* === content === */
/* content_1_1 */
.content_1 { width: 100%; height: 64.65vh; display: flex; position: relative;} 

.content_1 .content_1_1 { width: 50%; height: 64.65vh; background: url(../img/promotion_bg_2_2.jpg) no-repeat center center/cover; position: relative; } 

.inner_text { position: absolute; right: 5rem; top:30% } 

.inner_text li { color: var(--secondary1); line-height: 1.5; font-size: 1.8rem; font-family: 'NanumBarunGothic'; } 
.inner_text li:first-child { font-size: 2.1rem; } 
.inner_text li:nth-child(2) { font-size: 3.5rem; font-family: 'NanumBarunGothic'; } 
.inner_text li:not(:nth-child(2)) { color: rgba(246,245,240,.6) } 
.inner_text li:last-child a { display: block; color: var(--secondary1); width: 125px; text-align: center; padding: 0.7rem 2rem; border: 2.5px solid var(--secondary1); border-radius: 0.5rem; font-size: 1.4rem; margin-top: 3.5rem; } 

/* 모바일 이미지 */
.content_1_1 img{display: none;}

/* content_1_2 */

.content_1_2 a { display: block; color: var(--pointcolor4); width: 125px; text-align: center; padding: 1rem 2rem; border: 2.5px solid var(--pointcolor4); border-radius: 0.5rem; font-size: 1.4rem; margin-top: 30rem; margin-left: 33%; } 

.content_1 .content_1_2 { width: 50%; height: 64.65vh; background: url(../img/230811_pc_reserve_bg_1.jpg) no-repeat center center/cover; position: relative;} 

/* hover */
.inner_text:last-child a:hover{background-color: var(--secondary1); color: var(--primary);}

.content_1_2 a:hover{background-color: var(--pointcolor4); color: var(--text1);}


/* content_2 */
.content_2 { width: 100%; height: 66rem; background: url(../img/summer2_pick_bg.jpg) no-repeat center fixed; } 

.content_2 .container { display: flex; } 

/* text */
.content_2 .content_2_1 { width: 40%; text-align: end; margin-top: 8rem; margin-left: -10rem; } 

.content_2_1 .left_text_1 { margin-top: 3rem; } 
.content_2_1 .left_text_1 li { color: rgba(246,245,240,.8); line-height: 2.1rem; } 
.content_2_1 .left_text_1 li strong { font-family: 'NanumBarunGothic'; } 
.content_2_1 .left_text_1 .left_h2 { margin-bottom: 1rem; } 
.content_2_1 .left_text_1 .left_h2 li { color: #fff; font-size: 2.8rem; line-height: 1.1; } 

.content_2_1 p { margin-left: 33rem; margin-top: 3rem; } 
.content_2_1 p>a { display: block; color: var(--background); width: 125px; text-align: center; padding: 1rem 2rem; border: 2.5px solid var(--background); border-radius: 0.5rem; font-size: 1.4rem; }

/* hover */
.content_2_1 p>a:hover{background-color: var(--secondary1); color: var(--text1);}

/* img */
.content_2 .content_2_2 { width: 60%; } 

.content_2 .content_2_2 img { margin-top: 3rem; margin-left: 5rem; } 

/* ### animation ### */
 .content_2 .content_2_1 img{
    animation-name: img_show;
    animation-duration: 3s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
    animation-play-state: running;
}
@keyframes img_show {
    0% {transform: translate(-640px); overflow: hidden; opacity: 0;
    }
}

.content_2 .content_2_1 .left_text_1{
    animation-name: text_show;
    animation-duration: 3s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
    animation-play-state: running;
   opacity: 0;
    animation-delay: 0.2s;
}
@keyframes text_show {
    0% {transform: translate(-640px); overflow: hidden; opacity: 0; 
    }
    100%{
        transform: translate(0); opacity: 1;
    }
}

.content_2 p a{
    margin-left:7.5rem;
    animation-name: a_show;
    animation-duration: 4s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
    animation-play-state:running;
}
@keyframes a_show {
    0%{
         opacity: 0;
    }
    100%{
         opacity: 1;
    }
}
/* //### animation */


/* ==== news ===== */
.store_slide { width: 100%; height: 46rem; } 


.store_slide h2.title_2 { margin-left: 12rem; margin-top: 3rem; margin-bottom: 1.5rem; font-size: 3.8rem; font-family: 'NanumBarunGothicBold'; } 


.store_slide section ul:not(:last-child) { display: grid; grid-template-columns: repeat(6, 400px); gap: 1rem; width: 100%; height: 34rem; overflow: hidden; overflow-y: hidden; justify-content: center; align-items: center; } 

.store_slide li.block img { width: 400px; height: 315px; } 

/* .store_slide .card { transition: 0.5s ease-in-out; } */

/* 좌우 버튼 */
section.slide_card { position: relative; } 

.slide_card ul.left_right_2 li:first-child { position: absolute; display: block; top: 0; left: 0; margin-top: 20rem; margin-left: 15rem; } 

.slide_card ul.left_right_2 li:last-child { position: absolute; display: block; top: 0; right: 0; margin-top: 20rem; margin-right: 15rem; } 

/* ## 버튼 hover ## */
.left_right_2 img:hover {background-color: var(--background); border-radius: 50%; transition: background-color .7s;}


/* 재생 정지 */
.slide_card ul.slide_btn_2{ position: absolute; gap: 2rem; display: flex; top: 40rem; left: 49%;}
.slide_btn_2 ul.button{display: flex; }
.slide_btn_2 ul.button li.start{position: absolute; cursor: pointer;}
.slide_btn_2 ul.button li.end{position: absolute; cursor: pointer;}

/* ## 재생 정지 버튼 ##*/
/* 1 */
.slide_se4 li.start{display: block;}
.slide_se4 li.end{display: none;}
/* 2 */
.slide_se5 li.start{display: block;}
.slide_se5 li.end{display: none;}
/* 3 */
.slide_se6 li.start{display: block;}
.slide_se6 li.end{display: none;}


/* ====== gnb_nav ======= */
.gnb_nav { width: 100%; height: 12rem; background-color: #BFE1E3; display: flex; position: relative;} 
.gnb_nav .container { width: 100%; max-width: 1300px; height: 12rem; margin: auto;} 

.nav{ position: absolute; left: 26.4vw; top: 3.5rem; }

.container span:nth-child(1){position: absolute; top: 0; left: 0;}
.container span:nth-child(2){position: absolute; top: 0; left: 7.5rem;}
.container span:nth-child(3){position: absolute; top: 0; left: 15.1rem;}
.container span:nth-child(4){position: absolute; top: 0; left: 22.7rem;}

/* 검색 */
div.search_bar{position: relative; left:80rem; top: 3.5rem;}
form .search_wrap { position: absolute; } 

input#search { width: 31.6vw; height: 5rem; background: #ffffff; border: 0; font-size: 1.6rem; text-align:center; color: var(--primary); border-radius: 50px; position: relative;} 

.search_wrap span.icon img { width:40px;} 

.search_wrap span.icon { position: absolute; top: 0.5rem; left: 23.9vw; } 

input#search::-webkit-input-placeholder { color: var(--primary); opacity: 50%; } 


/* ===== info_1 ==== */
.info_1 { width: 100%; height: 45rem; background: url(../img/reserve_bg_pc.png) no-repeat center; background-position-y: 10rem;} 

.info_1 .container { max-width: 1200px; height: inherit; position: relative;} 

.info_1 .container .img { width: 100%; height: 45rem; background: url(../img/reserve_visual_pc.png) no-repeat; background-position-x: 80%; background-position-y: 5rem; position: absolute; left: 5rem; top: -0.2rem;} 

.info_1 .container .icon { height: 10rem; display: flex; z-index: 1; position: absolute; top: 15.5rem; left: 10rem;} 

.info_1 .botton a{display: block; position: absolute;z-index: 1; top: 29rem; left: 40rem; color: var(--text1); width: 125px; text-align: center; padding: 1rem 2rem; border: 2.5px solid var(--text1); border-radius: 0.5rem; font-size: 1.4rem; font-family: 'NanumBarunGothic';}

/* hover */
.info_1 .botton a:hover{background-color: var(--text1); color: var(--secondary1);}

/* ## .info_1 .img animation @## */

.info_1 .container .img{
    animation-name: class_show;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
    animation-play-state:running;
}
@keyframes class_show {
    0%{
         opacity: 0;
    }
    100%{
         opacity: 1;
    }
}

/* ==== info_2 ==== */
.info_2 { width: 100%; height: 40rem; background: url(../img/store_bg.jpg) no-repeat center center/cover; } 

.info_2 .container { width: 100%; height: 40rem; background-image: url(../img/store_exp_img03.png), url(../img/store_exp_img04.png); background-repeat: no-repeat, no-repeat; background-position: center top, right bottom; background-position-y: -5rem, 30rem; } 

.info_2 .inner { width: 100%; max-width: 1200px; height: 40rem; position: relative; } 

.info_2 .inner .img1 { position: absolute; left: 10rem;} 

.info_2 .inner .img2 { position: absolute; z-index: 1; left: 34rem; top: 14rem; } 

.info_2 .group { display: flex; }

/* info_text */
.info_text{margin-top: 10rem; z-index: 1;}
.info_text_1>li,.info_text_2>li,.info_text_3>li>a{ color: var(--text1);}

.info_text ul.info_text_1{line-height: 1.333;}

.info_text ul.info_text_1 li:first-child {font-family: 'NanumBarunGothic'; font-size: 2.8rem;}
.info_text ul.info_text_1 li:first-child strong {font-family: 'NanumBarunGothicBold'; font-size: 2.8rem;}
.info_text ul.info_text_1 li:last-child {font-family: 'NanumBarunGothic'; font-size: 1.8rem;}

.info_text ul.info_text_2{margin-top: 1rem; line-height: 1.333}
.info_text ul.info_text_2 strong{font-family: 'NanumBarunGothicBold';}
.info_text ul.info_text_2 li:last-child{margin-top: 1rem; font-family: 'NanumBarunGothic';}

.info_text ul.info_text_3 li a{font-family: 'NanumBarunGothic'; display: block; color: var(--text1); width: 125px; text-align: center; padding: 1rem 2rem; border: 2.5px solid var(--text1); border-radius: 0.5rem; font-size: 1.6rem; margin-top: 3rem;}

/* hover */
.info_text ul.info_text_3 li a:hover{background-color: var(--text1); color: var(--secondary1);}

/* ### .info_2 .info_text animation ### */

.info_2 .info_text .info_text_1{
    animation-name: info_show1;
    animation-duration: 3s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
    animation-play-state: running;
}
@keyframes info_show1 {
    0% {transform: translate(640px); overflow: hidden; opacity: 0;
    }
}

.info_2 .info_text .info_text_2{
    animation-name: info_show2;
    animation-duration: 3s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
    animation-play-state: running;
   opacity: 0;
    animation-delay: 0.2s;
}
@keyframes info_show2 {
    0% {transform: translate(640px); overflow: hidden; opacity: 0; 
    }
    100%{
        transform: translate(0); opacity: 1;
    }
}

.info_2 .info_text .info_text_3{
    animation-name: info_show3;
    animation-duration: 4s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
    animation-play-state:running;
    animation-delay: 0.2s;
}
@keyframes info_show3 {
    0% {transform: translate(640px); overflow: hidden; opacity: 0; 
    }
    100%{
        transform: translate(0); opacity: 1;
    }
}


/* ==== footer_1 ===== */
.footer_1 { width: 100%; height: 24rem; background-color: var(--text1);} 

.footer_1 ul.depth_1 {padding-top: 3rem; display: flex; justify-content: center; justify-content: space-evenly; padding-right: 20rem; } 
.footer_1 ul.depth_1>li>a{font-size: 1.4rem; color: var(--secondary1);} 
.footer_1 ul.depth_1 li{font-size: 1.4rem; color: var(--secondary1);}

.footer_1 ul.depth_2>li>a{font-size: 1.2rem; color: var(--secondary1); line-height: 1.75;}

.depth_2 {margin-top: 1.5rem;}

/* f_logo */
.f_nav { position: relative; } 
.footer_logo img { position: absolute; right: 3.5rem; top: 5rem;} 

/* f_btn */
.f_btn{display: none;}


/* footer_2 */
.footer_2 { width: 100%; height: 10rem; background-color: var(--text4)} 

ul.container { display: flex; justify-content: center; padding-top: 2.7rem; } 

/* footer_3 */
.footer_3 { width: 100%; height: 22rem; background-color: var(--text1) } 
.footer_3 li a, li, p{color: var(--secondary1);} 

.footer_info { display: flex; text-align: center; padding-top: 2.5rem;} 
.footer_info li a{font-size: 1.2rem;}
.footer_info li:not(:last-child){border-right: 1px solid rgba(255, 255, 255, .2); padding-right: 1rem; padding-left: 1rem;}
.footer_info li:last-child{padding-left: 1rem;}

.footer_info li.green a{color: var(--pointcolor2);}


.footer_gnb{ display: flex; margin-top: 2rem; margin-bottom: 1.5rem; justify-content: center;} 
.footer_gnb a{font-family: 'NanumBarunGothic'; display: block; color: var(--secondary1); width: 125px; text-align: center; padding: 1rem 2rem; border: 2.5px solid var(--secondary1); border-radius: 0.5rem; font-size: 1.2rem; margin-right: 1rem;} 


.footer_tel { display: flex; text-align: center; justify-content: center; } 
.footer_tel>li{font-size: 1.2rem; margin-right: 1.5rem; margin-top: 1rem; color: rgba(246,245,240,.6);}


.footer_3 .container p { display: flex; text-align: center; justify-content: center; font-size: 1.2rem; margin-top: 2rem; color: rgba(246,245,240,.6);}

/* homebutton */
.homebutton {position: fixed; bottom: 7rem; right: 2rem; z-index: 11;}
.homebutton a img{width: 3rem; filter:grayscale(0%) invert(60%) sepia(30%) saturate(1000%) hue-rotate(40deg);}



/* @----- 태블릿 ------@ */
@media all and (min-width: 641px) and (max-width: 960px){
   
    /* === header === */
    /* 헤더 댑스 기본 레이아웃 */
    nav{
        height: 70px; position: relative;
    }
   nav .main_menu{ display: none;}


   nav h1 img{width: 45px; position: absolute; top:1rem; left: 1rem;}

   /* sticky */
   div.sticky{top: 12%;}

   /* 메인 배너 */
   .main_banner{ width: 100%; height: 270vw; position: relative; top: -4.5rem; background: url(../img/phone/2023_m_summer2_promotion_bg_2.jpg) no-repeat center center/cover;}

   .main_banner ul.banner_text li:first-child img{display: none;}
   
   .main_banner ul.banner_img li.banner_img_2 img{display: none;}
   .main_banner ul.banner_img li.banner_img_1 img{display: none;}
   .main_banner ul.banner_img li.banner_img_3 img{display: none;}

   .main_banner .container .banner_text li a {margin: 0; font-family:'NanumBarunGothicBold'; font-size: 2.4rem; padding: 3rem 3rem; width: 29vw; top: 235vw; left: 35vw;}

   /* 모바일용 이미지 */
   .banner_text_img ,  .banner_img_4, .banner_img_5, .banner_img_6{display: flex; position: absolute; top: 0; left: 0;}

   .banner_text_img { top: 12.67vw; left: 12.67vw;}
   .banner_text_img img{ width: 35vw;}

   .banner_img_4 { top: 45vw; left: 15vw;}
   .banner_img_4 img {width: 63vw;}

   .banner_img_5 { top: 102vw; left: 27vw;}
   .banner_img_5 img {width: 70vw;}
   
   .banner_img_6 { top: 160vw; left: 15vw;}
   .banner_img_6 img {width: 63vw;}



   /* ===== nav_1 ======= */
   .nav_1 {position: relative; top: -4.5rem;}
   .nav_1 .notice {position: absolute;}

   /* notice */

   .notice p {left: 5%; top: 1.9rem;}
   .notice .history li {padding-top: 1.8rem; margin-left: -12rem; width: 28vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

   .notice .btn_plus img {top: 1.8rem;}

   /* promotion */
   .promotion_list:first-child>li>a{ left: 0rem; top: 2rem; font-family:'NanumBarunGothicBold';}
   
   
   /* ===== hidden ====== */

   .nav_1_pr .hidden {height: 48rem;}
   


   /* ====== nav_2 ====== */
   .nav_2{height: 43rem;}
   .nav_2 .container img {width: 26rem; margin-left: 10vw; margin-top: 6.5rem; margin-bottom: 6rem;}
   .text_btn{margin-top: 1.5rem;}

   /* text */
   .container_cloumn{flex-direction: column; width: 37rem; line-height: 1.333; margin-left: 7vw; }
   
   .container_card{flex-direction: column; width: 43rem;margin-left: 3vw;}
   .container_card .g_btn { margin-top: 3rem; margin-left: 4rem;}

   /* === content ====== */
   .content_1{display: inline-block;}
   
   /* content_1_1 */
   .content_1 .content_1_1{ width: 100%; height: 152.6vh; background: url(../img/phone/2023_m_summer2_promotion_bg_1.jpg) no-repeat center center/cover; top: -1.8rem;}

   .content_1_1 img{display: block; position: absolute; width: 28vw; top: 14rem; left: 35vw;}

   /* text */
   .inner_text{text-align: center; top: 53%; left: 5%;}
   
   .inner_text li {font-size: 160%;} 
   .inner_text li:first-child { font-size: 180%; margin-bottom: 1rem;} 
   .inner_text li:nth-child(2) {font-size: 310%; margin-bottom: 1.5rem;} 
   
   .inner_text li:last-child a { display: block; width:250px; text-align: center; padding: 2.5rem; border-radius: 0.3rem; font-size: 2.3rem;  margin: 13rem auto 0 auto; font-family: 'NanumBarunGothic';} 

   /* content_1_2 */
   .content_1 .content_1_2 {display: block; width: 100%; height: 130rem; background: url(../img/phone/230811_m_reserve_bg.jpg) no-repeat center center/cover; z-index: 2; margin-top: -1.8rem;}

   .content_1 .content_1_2 a { display: block; width:250px; text-align: center; padding: 2.5rem 2.5rem 2.5rem 2.5rem; border-radius: 0.3rem; font-size: 2.3rem;  margin: 0; font-family: 'NanumBarunGothic'; position: relative;} 
   .content_1 .content_1_2 a {position: absolute; bottom: 10rem; left: 35%;}

   /* content_2 */
   .content_2{width: 100%; height: 150rem; background: url(../img/phone/2023_m_summer2_pick_bg_2.jpg) no-repeat; background-position-x: center; background-position-y: center; background-attachment: fixed; background-size: cover;  margin-top:200rem;}

   .content_2 .container { flex-direction: column-reverse;}

   /* img */
   .content_2 .content_2_2 img{margin-top: 20rem; width: 75rem; margin-left: 15%;}

   /* text */
   .content_2 .content_2_1{width: 42%; margin:auto; text-align: center; padding: 3rem; background: rgba(44,42,41,.5); backdrop-filter: blur(5px);}
   .content_2_1 p{margin-left: 2.5rem;}

   @keyframes img_show{
    0%{transform: translate(0); opacity: 0;}
    100%{opacity: 1;}
   }

   .content_2 .content_2_1 .left_text_1{
    animation-delay: 0.5s;
   }

   @keyframes text_show{
    0%{transform: translate(0); opacity: 0;}
    100%{opacity: 1;}
   }

   .content_2 p a{
    animation-delay: 1s;
   }

   /* ==== news ===== */
   .store_slide .slide_card ul.card{padding-left: 45%;}

   /* ====== gnb_nav ======= */
   .nav{left: 10vw;}

   .div.search_bar{width: 100%; width: 8.1vw}
   form .search_wrap{ left: -25rem;}

   /* ===== info_1 ==== */
   .info_1 {background: url(../img/phone/reserve_visual_m.jpg) no-repeat center center/cover; height:140rem;}
   .info_1 .container li.img{display: none;}
   .info_1 .container li.icon{display: none;}
   .info_1 li.botton {position: absolute; bottom: 35rem; left: 15vw;}

   /* ==== info_2 ==== */
   .info_2{background: url(../img/phone/store_bg.jpg) no-repeat center center/cover; height: 80rem;}
   .info_2 .container{height: 80rem; background-position: center, right bottom; background-position-x: 15rem, 60rem;}

   .info_2 .inner .img1{left: 18rem;}

   .info_2 .inner .img2{left: 45rem; top: 20rem;}

   /* info_text */
   .info_text{margin-top: 45rem; margin-left: -80rem;}

   .info_text_1, .info_text_2, .info_text_3{text-align: center;}
   .info_text ul.info_text_3 li a{margin: 3rem auto auto auto;}

   /* ### .info_2 .info_text animation ### */
   .info_2 .info_text .info_text_1{
    animation-duration: 1s;
   }
   @keyframes info_show1{
    0%{transform: translateY(-40rem);overflow: hidden; opacity: 0;}
    20% {transform: translateY(-20rem); overflow: hidden; opacity: 0;}
    100%{transform: translate(0); opacity: 1;}
   }

   .info_2 .info_text .info_text_2{
    animation-duration: 1s;
    animation-delay: 0.5s;
   }
   @keyframes info_show2 {
    0% {transform: translateY(40rem); overflow: hidden; opacity: 0; 
    }
    100%{
        transform: translate(0); opacity: 1;
    }
   }

   .info_2 .info_text .info_text_3{
    animation-delay: 0s;
    animation-duration: 3s;
   }

   @keyframes info_show3{
    0%{transform: translate(0); opacity: 0;}
   }

   /* ==== footer_1 ===== */
   .footer_1{height: 40rem;}
   .footer_1 ul.depth_1{padding: 4rem;}

   /* button */
   .f_btn{width: 100%; display:flex; justify-content: center; gap: 1rem; margin-top: 3rem;}
   .f_btn li a{color: #fff; padding: 1rem 3rem; border: #fff solid 1px; border-radius: 0.4rem; font-size: 2.4rem;}

   /* ===== footer_2 ====== */
   .footer_2 {height: 14rem;}
   .footer_2 .container{display: flex; flex-wrap: wrap; justify-content: space-around; width: 90%; text-align: center;}
   
   .footer_3{height: 25rem;}
   .footer_info{flex-wrap: wrap; padding-left: 4rem; padding-right: 4rem; justify-content: center;}


}





/* @----- 모바일 ------@ */
@media all and (max-width: 425px){

}