body { width: 100%;} 

.wrap { width: 100%;} 

/* header */
header{ width: 100%; height: 12rem; background: var(--secondary1);}
.header{width: 100%; max-width: 80%; position: relative; margin: auto;}
.header h2{position: absolute; left: 15%; top: 2rem;}
.header .main_nav{position: absolute; top: 0; right: 10rem; height: 12rem;}
.header .main_nav .util_nav{display: flex; height: 6rem; justify-content: flex-end; gap: 3rem;}
.header .main_nav .sub_gnb_nav{display: flex; height: 6rem; gap: 3rem;}


/* main */
/* banner */
.banner { width: 100%; height: 61rem;}
.banner img{ width: 100%; height: 61rem;}

/* nav */
.nav_1 { width: 100%; height: 4.2rem; margin: auto;}
.nav_1 .container {display: flex;}
.nav_1 .nav_1-1 {width: 55%; background-color: black;}
.nav_1 .nav_1-2 {width: 45%; background-color: white;}

.nav_2 { width: 100%; height: 24rem; background-color: var(--primary);} 
.nav_2 .container{ width: 60%; height: 24rem; background-color: var(--primary);}
.nav_2 p:nth-child(1) {display: flex;}

/* content */
.content_1 { width: 100%; height: 58rem; display: flex;}
.content_1 .content_1_1 { width: 50%; height: 58rem; background-color: aqua;}
.content_1 .content_1_2 { width: 50%; height: 58rem; background-color: aquamarine;}

.content_2 { width: 100%; height: 66rem;  background-image: url(../img/summer2_pick_bg.jpg);} 
.content_2 .container { width: 80%; display: flex;}
.content_2 .content_2_1  {width: 30%; background-color: cadetblue;}
.content_2 .content_2_2  {width: 70%; background-color: burlywood;}

/* news */
.news { width:200%; height: 46rem;}
.news h2{text-align: left; background-color: aliceblue;}
.news .container {overflow: hidden;}
.news .block{ display: flex; width: 400px; height: 315px; background-color: rgb(134, 134, 134);}
.news .slide {margin-top:50px; display: flex; flex-wrap: wrap; gap: 3rem; transition: 0.5s ease-in-out;}

/* memu */
.menu { width: 100%; height: 12rem; background-color: bisque;}
.menu .container{ max-width: 80%; background-color: bisque;}
.menu .container span:not(:last-child){display: inline-block; background: white; margin-top: 4rem; position: relative; left: 20%;}
.menu .container span:last-child{display: inline-block; background: white; margin-top: 4rem; position: relative; left: 80%;}

/* info */
.info_1 { width: 100%; height: 45rem; background:url(../img/reserve_bg_pc.png) no-repeat center; background-position-y: 10rem;} 
.info_1 .container{ max-width: 80% } 

.info_2 { width: 100%; height: 40rem; background-color: lightblue; } 

/* footer */
.footer_1 { width: 100%; height: 24rem; background-color: bisque; } 

.footer_2 { width: 100%; height: 10rem; background-color: darkkhaki; } 

.footer_3 { width: 100%; height: 22rem; background-color: lightblue; } 

/* //box */


/* container */
.container { width: 100%; height: inherit; margin: auto;} 

/* //css */
