body { width: 100%; background-color: lightgray; } 

.wrap { width: 100%; margin: auto; text-align: center; } 

/* header */
.header { width: 100%; height: 12rem; background-color: bisque; } 

/* main */
.banner { width: 100%; height: 61rem; background-color: lightblue; } 

.nav_1 { width: 100%; height: 4.2rem; background-color: bisque; } 

.nav_2 { width: 100%; height: 24rem; background-color: darkkhaki; } 

.content_1 { width: 100%; height: 58rem; background-color: lightblue; } 

.content_2 { width: 100%; height: 66rem; background-color: darkkhaki; } 

.news { width: 100%; height: 46rem; background-color: aquamarine; } 

.menu { width: 100%; height: 14rem; background-color: bisque; } 

.info_1 { width: 100%; height: 45rem; background-color: darkkhaki; } 

.info_2 { width: 100%; height: 40rem; background-color: lightblue; } 

/* footer */
.footer_1 { width: 100%; height: 24rem; background-color: bisque; } 

.footer_2 { width: 100%; height: 10rem; background-color: darkkhaki; } 

.footer_3 { width: 100%; height: 22rem; background-color: lightblue; } 

/* //box */


/* container */
.container { width: 100%; max-width: 80%; height: inherit; background-color: rgba(0,0,0,.4); margin: auto;} 

/* //css */



/* 이너 클래스 통일시키고, 이너의 값을 80%로 맞추자. 1200px가 있기는 했다. */