@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; } 

body { line-height: 1; } 

ol,
ul { list-style: none; } 

blockquote,
q { quotes: none; } 

blockquote:before,
blockquote:after,
q:before,
q:after { content: ''; content: none; } 

table { border-collapse: collapse; border-spacing: 0; } 

/* 추가 */
* { box-sizing: border-box;} 

:root { --primary: #056342; --secondary1: #F6F5F0; --secondary2: #56246F; --text1: #2C2A29; --text2: #8b9091; --background: #fff; --pointcolor1: #8b734b; --pointcolor2: #00a4b7; --pointcolor3: #E9536C; } 

/* 최상위 콘텐츠 선택자/ 이것만 바꾸고 아래 변수로 적용하면 언제든 쉽게 바꿀 수 있다. */

html { overflow-y: scroll;  overflow-x: hidden; font-size: 62.5%; /* 기본 폰트 10px/ rem을 쓸 것임. */
  font-weight: 400; } 

body { font-family: 'nbg', 'Avenir', 'Aria', sans-serif; color: var(--text1); font-size: 1.6rem; line-height: 1.333; } 

/* var : 변수 */

a { color: var(--text1); } 

a{text-decoration: none;}

a:hover { text-decoration: underline; } 

h1,
.h1 { font-size: 9.6rem; font-family: 'NanumBarunGothic'; } 

h2, .h2 { font-size: 6.7rem; font-family: 'NanumBarunGothic'; } 

.title_1 { font-size: 5.1rem; font-family: 'NanumBarunGothic'; } 

.title_2 { font-size: 3.8rem; font-family: 'NanumBarunGothic'; } 

.main_1 { font-size: 2.8rem; font-family: 'NanumBarunGothic'; } 

.main_2 { font-size: 2.1rem; font-family: 'NanumBarunGothic'; } 

.body, .main_3 { font-size: 1.6rem; font-family: 'NanumBarunGothic'; } 

.link, info_1 { font-size: 1.2rem; font-family: 'NanumBarunGothic'; } 

.caption, info_2 { font-size: 0.9rem; font-family: 'NanumBarunGothic'; } 

/* font-family: 'NanumBarunGothicExtraLight';
font-family: 'NanumBarunGothicLight';
font-family: 'NanumBarunGothic';
font-family: 'NanumBarunGothicBold'; */